body {
  background-color: gray;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: orange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px green;
}
button:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
button:hover {
  color: aqua;
}

.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slidercontainer {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
}
input {
  background-color: orange;
}
p {
  font-size: 26px;
  text-shadow: 3px 3px orange;
}
